<p id="notice"><%= notice %></p>
<head class="title">
    <h1 class="title"> Information on card: </h1>
</head>
<div class="columns">
  <div class="column">
    <div>
      <div class="title">
        <%= @cards.name %>
      </div>
      <div class="card-content">
        <p> Information: </p>
        <p class="card-footer-item"> Card Type: <%= @cards.card_type %></p>
        <p class="card-footer-item"> Attack: <%= @cards.attack %></p>
        <p class="card-footer-item"> Defence: <%= @cards.defence %></p>
        <p class="card-footer-item"> Price: <%= @cards.price %>.99</p>
      </div>
    </div>
  </div>
</div>